<div class="clientes-list">
    <h2>Lista de Productos</h2>
    <div class="card-container">
        <div class="card">
            <h3 class="card-title">Audifonos</h3>
            <p class="card-subtitle">Precio: 150.0 soles</p>
        </div>
        <div class="card">
            <h3 class="card-title">Celular</h3>
            <p class="card-subtitle">Precio: 4500.0 soles</p>
        </div>
        <div class="card">
            <h3 class="card-title">Cargador</h3>
            <p class="card-subtitle">Precio: 40.0 soles</p>
        </div>
    </div>
  </div>