<div class="clientes-list">
  <h2>Lista de Clientes</h2>
  <div class="card-container">
      <div class="card">
          <h3 class="card-title">Cliente A</h3>
          <p class="card-subtitle">ID: 1</p>
          <div class="card-content">
              <p>Email: clienteAexample.com</p>
          </div>
      </div>
      <div class="card">
          <h3 class="card-title">Cliente B</h3>
          <p class="card-subtitle">ID: 2</p>
          <div class="card-content">
              <p>Email: clienteBexample.com</p>
          </div>
      </div>
      <div class="card">
          <h3 class="card-title">Cliente C</h3>
          <p class="card-subtitle">ID: 3</p>
          <div class="card-content">
              <p>Email: clienteCexample.com</p>
          </div>
      </div>
  </div>
</div>